@layer base {
    @font-face {
        font-family: 'Work Sans';
        font-style: normal;
        src: url('/fonts/WorkSans-subset.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Crimson Pro';
        font-style: normal;
        src: url('/fonts/CrimsonPro-subset.woff2') format('woff2');
    }
    @font-face {
        font-family: 'JetBrains Mono';
        font-style: normal;
        src: url('/fonts/JetBrainsMono-subset.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Line Awesome';
        font-style: normal;
        src: url('/fonts/la-solid-900-subset.woff2') format('woff2');
    }
    @font-face {
        font-family: 'Line Awesome Brands';
        font-style: normal;
        src: url('/fonts/la-brands-400-subset.woff2') format('woff2');
    }
}

.las,
.lab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.las {
    font-family: 'Line Awesome';
    font-weight: 900;
}
.lab {
    font-family: 'Line Awesome Brands';
    font-weight: 400;
}
.la-arrow-left::before { content: "\f060"; }
.la-chevron-down::before { content: "\f078"; }
.la-github::before { content: "\f09b"; }
.la-home::before { content: "\f015"; }
.la-level-up-alt::before { content: "\f3bf"; }
.la-moon::before { content: "\f186"; }
.la-rss::before { content: "\f09e"; }
.la-rss-square::before { content: "\f143"; }
.la-sun::before { content: "\f185"; }
.la-tools::before { content: "\f7d9"; }
.la-search::before { content: "\f002"; }
